[db]
mongodb = "mongodb://localhost:27017"
dbname = "scrapbook"

[s3]
# region = "us-west-4"
endpoint = "https://s3.us-west-004.backblazeb2.com"
bucket = "my-bucket"
prefix = "prefix/"

[s3.credentials]
accessKeyId = "AWS access key ID"
secretAccessKey = "AWS secret access key ID"
